<h1>Custom Loading Animation Design</h1>
<div class="grid">
  <div class="card">
    <div class="header">
      <!-- <div class="header-img skeleton"></div> -->
      <img
        class="header-img skeleton"
        src="https://source.unsplash.com/100x100/?nature"
      />
      <div class="title" data-title>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
      </div>
    </div>
    <div data-body>
      <div class="skeleton skeleton-text"></div>
      <div class="skeleton skeleton-text"></div>
      <div class="skeleton skeleton-text"></div>
      <div class="skeleton skeleton-text"></div>
      <div class="skeleton skeleton-text"></div>
    </div>
  </div>
</div>
